/* Ian Arsenaults Stylesheet */

.main {
    margin-right: -20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.1;
}



.hoverable-dark {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.4s ease-in-out, border 0.12s ease-in-out;
}

.hoverable-dark:hover {
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

.dark-overlay h1 {
    font-size: 5.9vw;
    color: #ffffff;
}

.dark-overlay > .text-shadow > h5 {
    color: #ffffff;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.Monoton {
    font-family: 'Monoton', cursive;
}

.white-text {
    color: #ffffff !important;
}

h1, h5 {
    color: #ffffff;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 23px;
    line-height: 1.846;
    background-color: #ffffff;
    border: 3px solid transparent !important;
    border-radius: 3px;
    -webkit-transition: border 0.5s ease-in-out;
    -o-transition: border 0.5s ease-in-out;
    transition: border 0.5s ease-in-out;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
    border-color: #ffb958 !important;
}
/* Gets rid of padding on top and bottom of drop down content div */
.navbar-nav > li > .dropdown-menu {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
/* Makes drop down links have more padding */
.dropdown-menu > li > a {
    padding: 10px 20px !important;
}
/* Gets rid of divider margin */
.dropdown-menu .divider {
    margin: 0 !important;
}

.navbar {
    padding-right: 15px !important;
}

ul > .nav > .navbar-nav > .navbar-right {
    padding-right: 15px !important;
}
/* Hamberger Icon - literal hamburger*/
.img-brand {
    padding-right: 0 !important;
}

.nav-btn-hvr a {
    -webkit-transition: all 0.6s ease-in-out !important;
    -o-transition: all 0.6s ease-in-out !important;
    transition: all 0.6s ease-in-out !important;
}

    .nav-btn-hvr a:hover {
        background-color: #e9e8e8 !important;
        text-decoration: underline !important;
    }

/* Parrallax / Banner Styling  */
.parallax {
    /* Free use hi-res images from unsplash.com */
    background: url("https://hd.unsplash.com/photo-1428660386617-8d277e7deaf2") no-repeat !important;
    position: fixed !important;
    width: 100% !important;
    /*margin-top: 5px !important; */
    left: 0 !important;
    background-size: 100% !important;
    background-position: 0 0;
    height: 100% !important;
    z-index: -1 !important;
    margin-bottom: 0 !important;
}

.jumbotron {
    padding-top: 100px;
    padding-left: 30px !important;
    margin-top: 50px !important;
    height: 500px;
    background: rgba(0,0,0,0.35) !important;
    /* background: url("https://hd.unsplash.com/photo-1428660386617-8d277e7deaf2") no-repeat !important; */
    margin-bottom: 0 !important;
    transition: all 3s ease-in-out;
}

    .jumbotron:hover {
        background: transparent !important;
    }

@media only screen and (max-width: 576px) {
    p {
        font-size: 3vmin;
    }

    .jumbotron {
        height: 350px !important;
    }
}

@media only screen and (min-width: 483px) and (max-width: 598px) {
    .jumbotron {
        padding-top: 50px !important;
        height: 350px !important;
    }
}

@media only screen and (min-width: 300px) and (max-width: 482px) {
    .jumbotron {
        padding-top: 50px !important;
        height: 290px !important;
    }
}

@media only screen and (min-width: 1200px) {
    .parallax {
        background-position: 0px -50px !important;
    }
}

@media only screen and (min-width: 1400px) {
    .parallax {
        background-position: 0px -100px !important;
    }
}

@media only screen and (min-width: 1500px) {
    .parallax {
        background-position: 0px -160px !important;
    }
}

/* Jumbotron Text Shadow */
.text-shadow {
    color: #ffffff !important;
    text-shadow: 1px 3px 2px rgba(0,0,0,1) !important;
}
/* Card section with details about restaurant */
.card-section {
    background-color: #ff0101;
}
/*  Directions or Google Map section */
.map-section {
    background-color: #ff0101;
}

.red {
    padding-top: 20px;
    background-color: #ff0101;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
    -webkit-box-shadow: inset 0 -2px 0 #ff0101 !important;
    box-shadow: inset 0 -2px 0 #ff0101 !important;
}

input[type="checkbox"]:focus:after,
.checkbox input[type="checkbox"]:focus:after,
.checkbox-inline input[type="checkbox"]:focus:after {
    border-color: #ff0101 !important;
}

input[type="checkbox"]:checked:after,
.checkbox input[type="checkbox"]:checked:after,
.checkbox-inline input[type="checkbox"]:checked:after {
    background-color: #ff0101 !important;
    border-color: #ff0101 !important;
}

/*.pwrd {
    padding-top: 20px;
}*/

.blank-bottom {
    padding-bottom: 20px;
}


.btn {
    margin: 10px !important;
}
/* Required Field Label */
.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}


.alert {
    padding: 3px 5px 3px 5px !important;
    background-color: rgba(255,0,0,0.2) !important;
    color: #720505 !important;
}



/* About Section */

/* Lunch Section */
.lunch {
    height: 500px !important;
}
/* Dinner Section */
.dinner {
    height: 500px !important;
}
/* Reservations Section */
.reservations {
}
/* Reservation Section */
.reservation {
}
/* Directions Section */
.directions {
    height: 500px;
}
/* Contact Section */
.contact {
    height: 500px;
}
/* Login Section */
/* Signup Section */
.signup {
}



/**
    Administration Pages Styling
*/
body {
    background-color: rgba(199,30,30,0.79);
    !important;
}

.administration {
    padding: 0 !important;
    border-left: 5px solid rgba(255,0,0,0.42);
    border-right: 5px solid rgba(255,0,0,0.42);
}

.admin-content-section > .container > h1, h2, h3, h4, h5, h6 {
    color: #000;
}

.admin-content-section > .container > h2 {
    font-size: 4.0vw !important;
}

.container > .navbar {
    background-color: #eee !important;
}

.admin-nav-text {
    color: #ff0101 !important;
}

.admin-content-section {
    background-color: #f6f6f6 !important;
    color: #000 !important;
    max-height: 100%;
}

.container > nav.navbar.admin-nav {
    min-height: 84px !important;
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}

/*
    Menu Items Section
*/
.menu-item-section {
    padding: 30px 0 60px 0;
}

/*
    Men Item Section
*/
.menu-items-section {
    padding: 30px 0 60px 0;
    height: 700px;
}
/*
    Sections section
*/
.sections-container {
    padding: 30px 0 60px 0;
    height: 700px;
}

/*
    Section section
*/
.section-container {
    padding: 30px 0 60px 0;
  
}
/*
    Tables Section
*/
.tables-section {
    padding: 30px 0 60px 0;
    height: 700px;
}

/*
    Table Section
*/
.table-section {
    padding: 30px 0 60px 0;
    height: 700px;
}

/*
    Reservation Management Section
*/
.res-mgmt-section {
    padding: 30px 0 60px 0;
    height: 700px;
}

/*
    Users Section
*/
/* User Section */
.users-section {
    padding: 30px 0 60px 0;
    height: 700px;
}

/*
    User Section
*/
.user-section {
    padding: 30px 0 60px 0;
}

.select-asp-styling {
    width: 100%;
    color: #000;
    padding-bottom: 5px;
    margin-top: 5px;
}
